<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <title>Change Password</title>
  
<link rel="stylesheet" th:href="@{~/fonts/open-sans/style.min.css}">
<link rel="stylesheet" th:href="@{~/fonts/universe-admin/style.css}">
<link rel="stylesheet" th:href="@{~/vendor/flatpickr/flatpickr.min.css}">
<link rel="stylesheet" th:href="@{~/vendor/tippyjs/tippy.css}">
<link rel="stylesheet" th:href="@{~/vendor/select2/css/select2.min.css}">
<link rel="stylesheet" th:href="@{~/vendor/bootstrap/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{~/css/style.min.css}" id="stylesheet">


<script th:src="@{~/js/ie.assign.fix.min.js}"></script>
</head>
<body>

<!--Employee Page header start-->
<div th:include="customer_view_account :: navbar"></div>
<!--Employee Page header ends-->
<!---Start-->
    <div class="page-content__header">
      <div class="container-fluid container-fh">
        <div class="page-content__header">
          <div>
            <h2 class="page-content__header-heading">Change Passsword</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
			<div class="main-container container-heading-bordered">
				<!--<h2 class="container-heading">Jeff Epingger</h2>-->
				<form class="form-wizard__step-form" th:action="@{/employee/changePassWd.do}" th:object="${regularPassWd}" method="POST" enctype="utf8">
					<div id="form-wizard-c" class="container-body form-wizard-c">
						<div class="form-wizard-c__body">
							<div class="form-wizard-c__body-content">
								<div class="form-wizard-c__step-content is-current" data-step-content="1">
									<h2 class="form-wizard-c__step-content-heading"></h2>
									<div class="row">
										<div class="col-lg-4 col-md-6">
											<div class="alert alert-danger" role="alert" th:each="err: *{errMsg}" >
												<p style="color: white;" th:text="${err}"></p>
											</div>
											<div class="form-group">
												<label for="current-password">Current Password</label>
												<!--current pass input-->
												<input type="password" class="form-control" id="current-password" placeholder="Enter your current password" th:field="*{currentPassWd}">
											</div>
											<div class="form-group">
												<label for="new-password">New Password</label>
												<!--new pass input-->
												<input type="password" class="form-control" id="new-password" placeholder="Numbers and letters (6 - 20 characters)" th:field="*{newPassWd}">
											</div>
											<div class="form-group">
												<label for="confirm-password">New Password again</label>
												<!--repeat new pass input-->
												<input type="password" class="form-control" id="confirm-password" placeholder="Repeat your new password" th:field="*{matchingPassWd}">
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="form-wizard-c__controls">
								<input type="submit" class="btn col-md-4 btn-info btn-block btn-lg p-signin__form-submit" value="Submit" />
							</div>
						</div>
					</div>
						</form>
					</div>
				</div>
			</div>
		</div>
<!--End--->
<script th:src="@{~/vendor/echarts/echarts.min.js}"></script>
<script th:src="@{~/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{~/vendor/popper/popper.min.js}"></script>
<script th:src="@{~/vendor/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{~/vendor/select2/js/select2.full.min.js}"></script>
<script th:src="@{~/vendor/simplebar/simplebar.js}"></script>
<script th:src="@{~/vendor/text-avatar/jquery.textavatar.js}"></script>
<script th:src="@{~/vendor/tippyjs/tippy.all.min.js}"></script>
<script th:src="@{~/vendor/flatpickr/flatpickr.min.js}"></script>
<script th:src="@{~/vendor/wnumb/wNumb.js}"></script>
<script th:src="@{~/js/main.js}"></script>
<script th:src="@{~/js/preview/sales-dashboard.min.js}"></script>
</body>
</html>


