<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title>Buy Mutual Fund</title>
    <link rel="shortcut icon" href="img/favicon.png">


    <link rel="stylesheet" href="fonts/open-sans/style.min.css">
    <link rel="stylesheet" href="fonts/universe-admin/style.css">
    <link rel="stylesheet" href="vendor/flatpickr/flatpickr.min.css">
    <link rel="stylesheet" href="vendor/tippyjs/tippy.css">
    <link rel="stylesheet" href="vendor/select2/css/select2.min.css">
    <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.min.css" id="stylesheet">
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/popper/popper.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="vendor/select2/js/select2.full.min.js"></script>
    <script src="vendor/simplebar/simplebar.js"></script>
    <script src="vendor/text-avatar/jquery.textavatar.js"></script>
    <script src="vendor/tippyjs/tippy.all.min.js"></script>
    <script src="vendor/flatpickr/flatpickr.min.js"></script>
    <script src="vendor/wnumb/wNumb.js"></script>
    <script src="js/main.js"></script>

    <script src="vendor/sumo-select/jquery.sumoselect.min.js"></script>
    <script src="js/preview/select.min.js"></script>


    <script src="js/form-wizard/form-wizard.js"></script>
    <script src="js/preview/form-wizard-b.min.js"></script>


    <script src="js/ie.assign.fix.min.js"></script>
</head>

<body>
<div th:include="template :: navbar"></div>
<div class="page-wrap">
    <div th:include="template :: sidebar"></div>
    <div class="page-content">
        <div class="container-fluid">
            <!--DON'T REMOVE CONTENTS ABOVE-->

            <form action="#" th:action="@{/buy_fund}" th:object="${form}" method="post">

                <!--Error messages-->
                <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('global')}">
                    <h4 class="alert-heading">Your request didn't go through.</h4>
                    <p th:if="${#fields.hasErrors('fund_id')}" th:errors="*{fund_id}">fund Error</p>
                    <p th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}">amount Error</p>
                </div>


                <div>
                    <h2 class="page-content__header-heading">Buy Mutual Fund</h2>
                </div>
                <div id="form-wizard-b" class="main-container form-wizard-b">
                    <ul class="form-wizard-b__steps">
                        <li class="form-wizard-b__step is-current" data-step="1">
        <span class="form-wizard-b__step-point">
          <span class="form-wizard-b__step-point-value">1</span>
          <span class="ua-icon-circle-check form-wizard-b__step-point-completed-icon"></span>
        </span>
                            <span class="form-wizard-b__step-info">
          <span class="form-wizard-b__step-name">Mutual Funds</span>
          <span class="form-wizard-b__step-desc">Pick a Fund</span>
        </span>
                        </li>
                        <li class="form-wizard-b__step" data-step="2">
        <span class="form-wizard-b__step-point">
          <span class="form-wizard-b__step-point-value">2</span>
          <span class="ua-icon-circle-check form-wizard-b__step-point-completed-icon"></span>
        </span>
                            <span class="form-wizard-b__step-info">
          <span class="form-wizard-b__step-name">How Much?</span>
          <span class="form-wizard-b__step-desc">Enter Amount</span>
        </span>
                        </li>
                    </ul>
                    <div class="form-wizard-b__body">

                        <div class="form-wizard-b__step-content is-current" data-step-content="1">
                            <center>
                                <div class="col-3">
                                    <div class="form-group">
                                        <br><br>
                                        <select th:field="${form.fund_id}" class="form-control" id="select-fund">
                                            <option th:each="f : ${form.fundList}"
                                                    th:value="${f.fund_id}"
                                                    th:text="${f.name}">Select Fund</option>
                                            <option th:value="0" text="Please Select"></option>                                        </select>
                                        <table>
                                            <tr>
                                            </tr>
                                        </table>
                                    </div>
                            </center>
                        </div>
                        <div class="form-wizard-b__step-content" data-step-content="2">

                            <center>
                                <br>
                                <h1>Available Cash</h1>
                                <h3 style ="color:green">$<span th:text="${#numbers.formatDecimal(cash,1,2)}"></span> </h3>
                                <!--Error checking-->
                                <table>
                                    <tr th:for=":${em}">
                                        <td><span th:if="${#fields.hasErrors('global')}">
                                            <a style = "color:red" th:each="err : ${#fields.errors('global')}" th:text="${err}">Input is incorrect</a>
                                          </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style = "color:red" th:if="${#fields.hasErrors('amount')}" th:errors="${form.amount}">Amount Error</td>
                                    </tr>

                                </table>

                                <br><br><br>
                                <div class="col-3">
                                    <!--Enter an amount-->

                                    <h4>Enter an amount</h4>

                                    <div class="form-group">

                                        <input th:field="${form.amount}" type="text" placeholder="$0.00" class="form-control">
                                    </div>
                                </div>

                                <button type="submit" class="btn btn-success btn-sm mb-2 mr-3" data-toggle="modal" data-target="#modal-success">
                                    Submit
                                </button><button type="button" class="btn btn-danger btn-sm mb-2 mr-3" data-toggle="modal" data-target="#modal-confirm">
                                Cancel
                            </button>

                            </center>
                        </div>
                    </div>

                    <div class="form-wizard-b__controls">
                        <div class="form-wizard-b__tip">
                            <a href="#" class="link-info">Tips</a><br>
                            <span class="text-muted">Before any buy, check the <a href="#"><u>fund history</u></a> for a better decison on your investment.</span>
                        </div>
                        <div class="form-wizard-b__controls-buttons">
                            <a href="#" class="btn btn-secondary form-wizard-b__control-prev disabled" data-step-control-prev>Back</a>
                            <a href="#" class="btn btn-info form-wizard-b__control-next" data-step-control-next>Next</a>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>

<!--Modal Submit-->
<div id="modal-success" class="modal fade custom-modal custom-modal-success">
    <div class="modal-dialog" role="document">
        <button type="button" class="close custom-modal__close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" class="ua-icon-modal-close"></span>
        </button>
        <div class="modal-content">
            <div class="modal-header custom-modal__image">
                <img src="img/modal/2.png" alt="" class="">
            </div>
            <div class="modal-body custom-modal__body">
                <h4 class="custom-modal__body-heading">Great!</h4>
                <div class="custom-modal__body-desc">Your Transaction has successfully been sent.<br><br>
                    Don't panic, you will shortly be notified.
                </div>
            </div>
            <div class="modal-footer">
                <div class="custom-modal__buttons">
                    <button type="button" class="btn btn-info" formaction="index.html">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Modal Submit-->
<div id="modal-success" class="modal fade custom-modal custom-modal-success">
    <div class="modal-dialog" role="document">
        <button type="button" class="close custom-modal__close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" class="ua-icon-modal-close"></span>
        </button>
        <div class="modal-content">
            <div class="modal-header custom-modal__image">
                <img src="img/modal/2.png" alt="" class="">
            </div>
            <div class="modal-body custom-modal__body">
                <h4 class="custom-modal__body-heading">Great!</h4>
                <div class="custom-modal__body-desc">Your Transaction has successfully been sent.<br><br>
                    Don't panic, you will shortly be notified.
                </div>
            </div>
            <div class="modal-footer">
                <div class="custom-modal__buttons">
                    <a href="index.html">
                        <button type="button" class="btn btn-info">Close</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Submit Modal-->
<!-- Cancel Model-->
<div id="modal-confirm" class="modal fade custom-modal custom-modal-confirm">
    <div class="modal-dialog" role="document">
        <button type="button" class="close custom-modal__close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" class="ua-icon-modal-close"></span>
        </button>
        <div class="modal-content">
            <div class="modal-header custom-modal__image">
                <img src="img/modal/5.png" alt="" class="">
            </div>
            <div class="modal-body custom-modal__body">
                <h4 class="custom-modal__body-heading">Cancel Transaction ?</h4>
            </div>
            <div class="modal-footer">
                <div class="custom-modal__buttons">
                    <a href="index.html">
                        <button class="btn btn-info iconfont icon-left custom-modal__icon-btn" type="button">
                            Confirm Cancellation<span class="btn-icon ua-icon-check"></span>
                        </button>
                    </a>
                </div>
            </div>
        </div>

        </div>


    </div>
</div>
</div>
</body>
</html>
